@model IEnumerable<fa21team9finalproject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Customer"))
    {
        <p>
            <a asp-action="Confirm">Confirm</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Subtotal)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.SalesTax)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a> |

                </td>
            </tr>
        }
    </tbody>
</table>